# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
/broadcast/

#logs
*.log
*.tmp

.DS_Store
Thumbs.db
.idea/
.vscode/
# Docs
docs/

# Dotenv file
.env

*.swp